/* Fonts */
@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
    font-display: swap;
    font-family: Roboto-Regular;
}

@font-face {
    src: url("../fonts/Roboto-Bold.ttf");
    font-display: swap;
    font-family: Roboto-Bold;
}

@font-face {
    src: url("../fonts/Roboto-Italic.ttf");
    font-display: swap;
    font-family: Roboto-Italic;
}

/* Variables*/

:root {
    /* Fonts */
    --font-generic: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-roboto-regular: Roboto-Regular, var(--font-generic);
    --font-roboto-bold: Roboto-Bold, var(--font-generic);
    --font-roboto-italic: Roboto-Italic, var(--font-generic);
    /* Colors */
    --color-font-primary: #333;
    --color-font-secundary: #fff;
    --color-primary: #394D70;
    --color-shadow: #BCBCBC;
    --color-shadow-secundary: rgba(30, 44, 61, 0.53);
}

/* Page Styles*/

body {
    font-size: 18px;
    font-family: var(--font-roboto-regular);
    color: var(--color-font-primary);
    line-height: 1.6em;
    overflow-x: hidden;
}

a, a:hover, .primary, nav a.active{
    color: var(--color-primary);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 0.6rem;
    margin-bottom: 0;
}

h1, h2, h3, h4 {
    font-family: var(--font-roboto-bold);
    margin-bottom: 1rem;
}

body h1, body h2{
    line-height: 2.8rem;
}

body h1 {
    font-size: 50px;
}

body h2 {
    font-size: 42px;
}

body h3 {
    font-size: 36px;
}

body h4 {
    font-size: 30px;
}

img {
    max-width: 100%;
}

.icon i {
    font-size: 3rem;
}

video{
    z-index: 2;
}

.italic{
    font-family: var(--font-roboto-italic);
}

/* Header */
body > header {
    height: 100vh;
    background-image: url("../images/posiblefondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body > header > h1 {
    background-color: var(--color-font-secundary);
    text-align: center;
    line-height: 1.5em;
    transform: translateY(5rem);
    font-size: 30px;
}

/* Nav */

#navButton {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-font-primary);
    color: var(--color-font-secundary);
    padding: .5rem 1.5rem;
    z-index: 999;
    transition: .5s;
}

#navButton .icon-hidden {
    visibility: hidden;
    position: absolute;
}

#navButton .icon-visible {
    transform: rotate(180deg);
    transition: transform .4s;
}

nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-font-primary);
    overflow-x: hidden;
    padding-top: 3rem;
    transition: 0.5s;
    box-shadow: -5px 0 5px var(--color-shadow-secundary);
    z-index: 9;
}

nav.expanded-nav {
    width: 250px;
}

nav a {
    display: block;
    text-decoration: none;
    color: var(--color-font-secundary);
    padding-left: 2rem;
    padding-top: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
    color: var(--color-font-secundary);
}

nav a.active {
    border: none;
}

/* Sections */

section {
    padding: 4rem 1rem;
}

section, .flex-wrapper {
    min-height: 50vh;
}


section:nth-child(even) {
    background-color: var(--color-primary);
    color: var(--color-font-secundary);
}

footer section.flex-wrapper{
    background-color: var(--color-font-primary);
    min-height: 30vh;
    color: var(--color-font-secundary);
}

section:nth-child(even) a, footer section a{
    color: var(--color-font-secundary);
}

section:nth-child(even) a:hover, footer section a:hover{
    color: var(--color-font-secundary);
}

section > h2 {
    text-align: center;
}

/* Flex */

.flex-wrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
}

.flex-wrapper {
    justify-content: space-around;
}

.flex-wrapper.column{
    flex-flow: column;
}

/* Who */

section#who .flex-wrapper > div, section#who .flex-wrapper > p {
    flex: 0 0 95%;
}

section#who .flex-wrapper img {
    max-width: 300px;
    margin: 2rem 0;
}

/* Interest */

section#interest article {
    min-height: 60vh;
}

section.list .flex-wrapper > div {
    flex: 0 0 92%;
    background-color: var(--color-font-secundary);
    color: var(--color-primary);
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
    box-shadow: 0 8px 10px var(--color-shadow-secundary);
}

section.list .flex-wrapper > div i {
    font-size: 3rem;
    margin: 20px 10px 10px 10px;
}

/* Portfolio */

section#portfolio .flex-wrapper {
    align-items: normal;
}

.portfolio-container, .btn:hover {
    box-shadow: 0 6px 10px var(--color-shadow);
}

.portfolio-container {
    flex: 0 0 98%;
    margin-top: 4rem;
}

.portfolio-container > header {
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.portfolio-container:nth-child(1) header {
    background-image: url('../images/trazeo.jpg');
}

.portfolio-container:nth-child(2) header {
    background-color: #5343B0;
    background-image: url('../images/phonexpert.jpg');
}

.portfolio-container:nth-child(3) header {
    background-image: url('../images/sopinet2.svg');
}

.portfolio-container > div > h4 {
    margin-bottom: 2rem;
}

.portfolio-container > div {
    padding: 1rem;
}

.portfolio-container > footer {
    margin-top: 2rem;
    padding-bottom: 2rem;
    align-self: flex-end;
}

/* About */

section#about .flex-wrapper img, section#about .flex-wrapper video{
    border-radius: 10px;
}

section#about .flex-wrapper img{
    box-shadow: 0 10px 10px var(--color-shadow-secundary)
}

section#about .flex-wrapper video{
    box-shadow: 0 8px 5px var(--color-shadow-secundary)
}

section#about .flex-wrapper img,
section#about .flex-wrapper div,
section#about .flex-wrapper video {
    flex: 0 0 95%;
    margin-top: 4rem;
}

/* Form */
section form{
    max-width: 90%;
    margin: 3rem auto 1rem auto;
}

section.form_section *{
    flex: 0 0 90%;
}

/* Form elements */
input, select, textarea{
    background-color: transparent;
    border: 2px solid var(--color-primary);
    padding: .5rem 0;
    color: var(--color-font-primary);
    text-indent: .5rem;
    margin-top: 2rem;
}

input[type=submit]{
    text-indent: 0;
}

/* Footer */

footer section{
    padding-bottom: 1rem;
}

footer .flex-wrapper {
    justify-content: space-around;
}

footer .flex-wrapper > div {
    flex: 0 0 100%;
    align-self: flex-end;
    text-align: center;
}

footer a{
    font-size: 100px;
}

footer a:hover{
    animation: voltear 1s cubic-bezier(.89,-0.22,0,1.5);
}

footer p{
    font-size: 1rem;
}

/* Comments */
aside section.list{
    padding: 2rem 0;
}

aside section.list article{
    background-color: var(--color-primary);
    color: var(--color-font-secundary);
    margin-top: 4rem;
}


/* Utils */

.btn{
    padding: 1rem 0;
    border-radius: 3rem;
    transition: background-color .7s, color .7s, box-shadow .7s;
    cursor: pointer;
}

.btn:hover{
    transition: background-color .7s, color .7s, box-shadow .7s;
    background-color: var(--color-primary);
    color: var(--color-font-secundary);
}

.text-center {
    text-align: center;
}

.rounded {
    border-radius: 50%;
}

/* Responsive tablet and laptop */

@media only screen and (min-width: 768px) {
    /* Page styles*/
    body {
        font-size: 24px;
    }

    body h1 {
        font-size: 80px;
    }

    body h2 {
        font-size: 65px;
    }

    body h3 {
        font-size: 52px;
    }

    body h4 {
        font-size: 44px;
    }

    /* Header */
    body > header > h1 {
        font-size: 40px;
    }

    /* Sections */
    section > article, section > article > div {
        padding: 2rem;
    }

    /* Who*/
    section#who .flex-wrapper > div {
        flex: 0 0 22%;
    }

    section#who .flex-wrapper > p {
        flex: 0 0 70%;
    }

    /* Portfolio*/
    .portfolio-container {
        flex: 0 0 40%;
    }

    .portfolio-container > div {
        padding: 2rem;
    }
}

@media only screen and (min-width: 1200px) {

    /* Header */
    body > header > h1 {
        font-size: 60px;
    }

    /* Interest */
    section.list .flex-wrapper > div {
        flex: 0 0 25%;
    }

    /* Portfolio*/
    .portfolio-container {
        flex: 0 0 26%;
    }

    /* About */
    section#about .flex-wrapper div:nth-child(1){
        flex: 0 0 40%;
    }

    section#about .flex-wrapper div,
    section#about .flex-wrapper video {
        flex: 0 0 50%;
    }

    /* Form */
    section form{
        max-width: 60%;
    }

    section.form_section *{
        flex: 0 0 42%;
    }

    section.form_section textarea{
        flex: 0 0 92%;
    }

    section.form_section input[type=submit], section.form_section input[type=button]{
        flex: 0 0 20%;
    }
}

@keyframes voltear {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}